.sidebar.pure-u-1.pure-u-md-1-6
  .header
    %h1.brand-title Arctic noise
    %h2.brand-tagline Фотоработы
    %nav.nav
      %ul.nav-list
        %li.nav-item= link_to 'Портрет', '#'
        %li.nav-item= link_to 'Репортаж', '#'
        %li.nav-item= link_to 'Предметы', '#'
        %li.nav-item= link_to 'Город', '#'
        %li.nav-item= link_to 'Сцена', '#'
        %li.nav-item= link_to 'Животные', '#'
        %li.nav-item= link_to 'Спорт', '#'

    %h2.brand-tagline Видеоработы
    %nav.nav
      %ul.nav-list
        %li.nav-item= link_to 'Портрет', '#'
        %li.nav-item= link_to 'Репортаж', '#'
        %li.nav-item= link_to 'Предметы', '#'
        %li.nav-item= link_to 'Город', '#'
        %li.nav-item= link_to 'Сцена', '#'
        %li.nav-item= link_to 'Животные', '#'
        %li.nav-item= link_to 'Спорт', '#'