.sidebar.pure-u-1.pure-u-md-1-5
  .header
    %h1.brand-title Ok
    %h2.brand-tagline Fixed Sidebar
    %nav.nav
      %ul.nav-list
        %li.nav-item
          %a.pure-button{:href => "#"} One
        %li.nav-item
          %a.pure-button{:href => "#"} Two

    .pure-menu.pure-menu-open
      %ul
        %li.pure-menu-heading Видео
        %li= link_to 'Раздел', '#'
        %li= link_to 'Раздел', '#'
        %li= link_to 'Раздел', '#'
        %li.pure-menu-heading Фото
        %li= link_to 'Раздел', '#'
        %li= link_to 'Раздел', '#'
        %li= link_to 'Раздел', '#'