%header.header
  .container
    .pure-g
      .pure-u-2-24
        = link_to "/" do
          .brand-triangle
      .pure-u-12-24 
        %nav.nav
          %ul
            %li 
              %i.fa.fa-camera
              Фото
              %i.fa.fa-caret-down
              %ul
                %li.nav-item= link_to 'Портрет',   '/photo/portrait.html'
                %li.nav-item= link_to 'Репортаж',  '/photo/reportage.html'
                %li.nav-item= link_to 'Предметы',  '/photo/object.html'   
                %li.nav-item= link_to 'Город',     '/photo/city.html'     
                %li.nav-item= link_to 'Сцена',     '/photo/scene.html'    
                %li.nav-item= link_to 'Животные',  '/photo/animals.html'     
                %li.nav-item= link_to 'Спорт',     '/photo/sport.html'  
      
      
            %li 
              %i.fa.fa-video-camera 
              Видео
              %i.fa.fa-caret-down
              %ul
                %li.nav-item= link_to 'Портрет',   '/photo/portrait.html'
                %li.nav-item= link_to 'Репортаж',  '/photo/reportage.html'
                %li.nav-item= link_to 'Предметы',  '/photo/object.html'   
                %li.nav-item= link_to 'Город',     '/photo/city.html'     
                %li.nav-item= link_to 'Сцена',     '/photo/scene.html'    
                %li.nav-item= link_to 'Животные',  '/photo/animals.html'     
                %li.nav-item= link_to 'Спорт',     '/photo/sport.html'  

      .pure-u-10-24
        .brand-contact
          .brand-phone= link_to "+7-(965)-109-52-89", "tel:+79651095289"
          .brand-mail= link_to "arcticnoise@ya.ru", "mailto:arcticnoise@ya.ru"